

<div class="container-fluid " style=" padding-bottom: 20px;">
  <div class="row">
      <!-- <div class="col-md-12 heading-contact" style="margin-bottom: 15px;"><h3 class="user-heading">Contact Us</h3></div>
      <div class="col-md-6" style="margin-bottom: 50px;"> -->
    
        <!-- <h5>UNICEF Office for Chhattisgarh </h5>
        Katora Talab, Civil Lines,<br>
         Raipur, Chhattisgarh 492001, India <br><br>
         <b>Dr Ajay Trakroo</b><br>
        <b>Mail to: </b> <a href="mailto:atrakroo@unicef.org">atrakroo@unicef.org </a><br>
      </div>
      <div class="col-md-6 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14875.381216149184!2d81.6499434!3d21.2379821!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd8662716da34f504!2sUNICEF!5e0!3m2!1sen!2sin!4v1491405989522" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      </div> -->




      
      <div class="col-md-12 heading-contact" style="margin-bottom: 10px;"><h3 class="user-heading"> </h3></div>
      <div class="col-md-6" style="margin-bottom: 10px;">
    
        <h5>UNICEF office for Maharashtra
          B Wing R2, Ground Floor Technopolis Building
          Oppo. Holy Family School near MIDC
          Mahakali Caves Road, Andheri East
          Mumbai – 400093</h5> <br><br>
         <b><a href="http://doctorsforyou.org">http://doctorsforyou.org</a></b><br>
        <b>Mail to: </b> <a href="info@doctorsforyou.org">info@doctorsforyou.org </a><br>
      </div> 
      <!-- <div class="col-md-6 text-center">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14643.932571044354!2d85.3152859!3d23.4249761!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa105f5e0d8f0b158!2sUNICEF%20-%20Jharkhand%20State%20Office!5e0!3m2!1sen!2sin!4v1579084632720!5m2!1sen!2sin" width="100%" height="200" frameborder="0" style="border:0;margin-bottom: 70px;" allowfullscreen=""></iframe>
      </div> -->


      
  </div>
</div>

