.head-info{margin: 25px 0;}
.user-heading {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #333;
    color: #2f515b;
    margin-bottom: 20px;
    padding-bottom: 7px;
    padding-top: 15px;
    width: 100% !important;
  }
