.user-heading {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #333;
    color: #2f515b;
    margin-bottom: 20px;
    padding-bottom: 7px;
    margin-top: 15px;
    margin-left: 18px;
    width: 97% !important;
  }
  .modal-btn{
    background-color: #2f515b !important;
    color: #fff;
}
.btn-view{
    background-color: #2f515b !important;
}
span.field_mandatory{
    font-size: 11px !important;
  }
  .modal-header{
    padding-bottom: 0px !important;
}
.lead{
    font-weight: 600 !important;
    color: #2f515b !important;
}