
.mat-form-field {
    display: block !important;
}
.marg-left{
    display: flex;
    margin-left: 22%;
    margin-top: 15px;
}
.modal-btn{
    background-color: #2f515b !important;
    color: #fff;
}
.btn-view{
    background-color: #2f515b !important;
}
button.submit-selection{
    margin-top: 30px !important;
}
span.field_mandatory{
    font-size: 11px !important;
  }

  .modal-header{
    padding-bottom: 0px !important;
}
.lead{
    font-weight: 600 !important;
    color: #2f515b !important;
}
.user-heading {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #333;
    color: #2f515b;
    margin-bottom: 20px;
    padding-bottom: 7px;
    width: 100% !important;
  }

  .content-sec-other{
    padding-top: 15px;
    margin-left: 0;
  }

  @media(max-width: 767px){
    .marg-left{
        margin-left: 0%;
        margin-top: 0;
        display: inline;
    }
    div#selectDistrict {
        padding: 0;
    }
    div#selectFacilityName {
        padding: 0;
    }
  }