.content-sec {
    padding-top: 15px;
    margin-left: 25%;
  }

.content-sec-other{
  padding-top: 15px;
  margin-left: 0;
  padding-left: 0;
}
  .user-label{
    max-width: 18.666667% !important;
  }

.selection-fields{
  display: inline-grid;
}

.select-container .input-group .input-group-btn button{
  cursor: default !important;
}

.marg-left{
  left: 45px;
}
.marg-left-other{
  // left: 145px;
  left: 57px;
}

span.field_mandatory{
  font-size: 11px !important;
}
.modal-header{
  padding-bottom: 0px !important;
}
.lead{
  font-weight: 600 !important;
  color: #2f515b !important;
}

  .left-list {
    height: 100%;
    width: 30%;
    background-color: #21353a;
    padding-top: 80px;
    padding-right: 0;
    position: absolute;
    right: 1012px;
}

.user-heading {
  font-size: 24px;
  font-weight: 600;
  text-align: left;
  border-bottom: 1px solid #333;
  color: #2f515b;
  margin-bottom: 20px;
  padding-bottom: 7px;
  width: 110% !important;
}



  // .user-heading {
  //   font-size: 1.75em;
  //   font-weight: 500;
  //   text-align: left;
  //   margin-bottom: 20px;
  //   padding-bottom: 7px;
  //   width: 130%;
  // }
  .input-group{
    margin-top: 35px;
  }
  .btn.user-submit {
    background-color: #2f515b;
    // border-radius: 0;
    width: 120px;
    color: #FFF;
    margin-top: 35px;
    // box-shadow: 1px 1px 10px #414141;
  }
  #passNotMatch .modal-header, #successMatch .modal-header{
    height: 39px;
    padding: 3px 14px;
  }
  p.heading.lead {
    font-weight: bold;
    color: #333;
  }
  .user-man-btn{
    margin-top: 10px;
  }
  .modal-btn {
    border-radius: 0;
    background-color: #2f515b !important;
  }
  input.nospinner[type=number]::-webkit-inner-spin-button, 
  input.nospinner[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
  }
  .material-error{
    color: #f44336;
    font-size: 75%;
    margin-top: -18px;
    margin-bottom: 12px;
    font-weight: 400;
    font-family: Roboto,"Helvetica Neue",sans-serif;
  }
  
  /** media query starts here **/


  @media screen and (min-width: 1920px){

    .left-list {
      height: 100%;
      width: 30%;
      background-color: #21353a;
      padding-top: 80px;
      padding-right: 0;
      position: absolute;
      left: 0px;
  }
  .user-heading{
    width: 156% !important;
  }
  .content-sec {
    padding-top: 25px;
    margin-left: 42% !important;
  }
  .marg-left{
    left: 256px;
    top: 100px;
  }
  .marg-left-other{
    left: 386px;
  }
   }
  

  @media screen and (min-width: 1680px){

    .left-list {
      height: 100%;
      width: 30%;
      background-color: #21353a;
      padding-top: 80px;
      padding-right: 0;
      position: absolute;
      left: 0px;
  }
  .user-heading{
    width: 136% !important;
  }
  .content-sec {
    padding-top: 25px;
    margin-left: 37% !important;
  }
  .marg-left{
    left: 256px;
  }

  .marg-left-other{
    left: 200px;
  }
   }


  @media screen and (min-width: 1440px){

    .left-list {
      height: 100%;
      width: 30%;
      background-color: #21353a;
      padding-top: 80px;
      padding-right: 0;
      position: absolute;
      right: 1080px;
  }
  .user-heading{
    width: 117% !important;
  }
  .content-sec {
    padding-top: 15px;
    margin-left: 32%;
  }
  .marg-left-other{
    left: 90px;
  }

  }



  @media screen and (max-width: 1280px){
    .left-list {
      height: 100%;
      width: 30%;
      background-color: #21353a;
      padding-top: 80px;
      padding-right: 0;
      position: absolute;
      right: 952px;
  }
  .user-heading{
    width: 104% !important;
  }
   }

  @media screen and (max-width: 1200px){

    .left-list {
      height: 100%;
      width: 30%;
      background-color: #21353a;
      padding-top: 80px;
      padding-right: 0;
      position: absolute;
      right: 900px;
  }
  .content-sec {
    padding-top: 15px;
    margin-left: 27%;
  }
  .user-heading {
    font-size: 1.75em;
    font-weight: 600;
    text-align: left;
    // border-bottom: 1px solid #333;
    // color: #333;
    margin-bottom: 20px;
    padding-bottom: 7px;
    width: 115%;
  }
  }

  @media screen and (max-width: 1024px){
    .left-list{
      right: 768px;
    }
    .content-sec {
      padding-top: 15px;
      margin-left: 24%;
    }
    .marg-left-other{
      left: 0px;
    }
    .user-heading {
      font-size: 1.75em;
      font-weight: 600;
      text-align: left;
      // border-bottom: 1px solid #333;
      // color: #333;
      margin-bottom: 20px;
      padding-bottom: 7px;
      width: 100% !important;
    }
  }

  @media screen and (max-width: 991px){
    .left-list{
      right: 758px;
    }
    .marg-left-other{
      left: 13px;
    }
  }
  @media screen and (max-width: 768px){
    .content-sec {
      padding-top: 15px;
      margin-left: 0;
    }
    .marg-left-other{
      left: 5px;
    }
    .left-list{
      right: 768px;
    }
  }

  @media(max-width: 767px){
    .marg-left-other{
      left: 0px;
    }
    .mat-form-field-infix{
      border-top-width: 0px !important;
    }
    label{
      margin-bottom: 0;
    }
  }
  @media screen and (max-width: 600px){
    .btn.user-submit{
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 560px){
    .user-heading {
      font-size: 1.75em;
      font-weight: 600;
      text-align: left;
      // border-bottom: 1px solid #333;
      // color: #333;
      margin-bottom: 20px;
      padding-bottom: 7px;
      width: 102%;
    }
    .marg-left{
      left: 5px;
    }

  }

 