#dataTable th {
    border-top: 1px solid #ddd;
    border-bottom: none;
    background-color: #f4f4f4;
    min-width: 100px;
    font-size: 12px;
    position: fixed;
}
div#divisionTable .modal-dialog {
    min-width: 100%;
    width: 100%;
    margin: 0;
}
span.field_mandatory{
    font-size: 11px !important;
  }
.modal-btn{
    background-color: #2f515b !important;
    color: #fff;
}
.btn-view{
    background-color: #2f515b !important;
}
.modal-header{
    padding-bottom: 0px !important;
}
.lead{
    font-weight: 600 !important;
    color: #2f515b !important;
}
.user-heading {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #333;
    color: #2f515b;
    margin-bottom: 20px;
    padding-bottom: 7px;
    margin-top: 15px;
    margin-left: 18px;
    width: 97% !important;
  }


div#divisionTable .modal-dialog .modal-content {
    border-radius: 0;
}

div#divisionTable{
    padding-right: 0px !important;
}

#dataTable th {
    text-align: center;
}


