div#helpModal .modal-dialog {
    min-width: 100%;
    width: 100%;
    margin: 0;
}
.page-title-head{
    padding-left: 0px;
  }
  .page_header{
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    border-bottom: 1px solid #333;
    color: #2f515b;
    margin-bottom: 20px;
    padding-bottom: 7px;
    width: 100% !important;
  }
.page-title-head
{
    padding: 0;
}